.testb {
  border: 2px solid black;
}

.summary-grid-layout {
  grid-template-columns: auto auto;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
}

.w-sm-90 {
  width: 75%;
  transition: all 2s;
}

.xs-title {
  transition: all 1s;
  max-width: 50%;
  overflow: hidden;
}

/* Animation FOR CUSTOM MODAL*/
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .create-task-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1500;
  }

  .xs-title {
    transition: all 1s;
    max-width: 35%;
    overflow: hidden;
  }
}

@media (max-width: 576px) {
  .summary-grid-layout {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .xs-setting-btn-group {
    margin-top: 0.5rem;
  }

  .xs-editbtn {
    right: 6rem;
    top: 0.6rem;
  }

  .xs-deletebtn {
    right: 3.5rem;
    top: 0.6rem;
  }

  .xs-time {
    right: 2rem;
  }

  .xs-title {
    max-width: 15%;
    overflow: hidden;
    transition: all 1s;
  }

  .w-sm-90 {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .w-sm-90 {
    width: 95%;
  }
}
